/* CommitteeMakeBill.css */

.make-bill-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f2ee;
    /*background-image: url("../public/images/background4.webp");*/
    /* Your background image and other body styles here */
  }
  
  .make-bill-form-container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    /* Your form container styles here */
  }
  
  .make-bill-registerbox {
    width: 320px;
    height: 370px;
    background: rgba(137, 207, 240, 0.6);
    color: black;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
    /* Your register box styles here */
  }
  
  .make-bill-registerbox:hover {
    background: rgba(161, 202, 241, 0.8);
    /* Your hover styles here */
  }
  
  .make-bill-avatar {
    width: 95px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 112px;
    /* Your avatar styles here */
  }
  
  .h3-margin {
    margin-top:-12px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Bricolage Grotesque', sans-serif;
    /* Your h1 styles here */
  }
  
  .make-bill-registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Your paragraph styles here */
  }
  
  .make-bill-registerbox textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 50px;
    color: black;
    font-size: 16px;
    padding: 0 2px;
    margin-top:5px;
    /* Your textarea styles here */
  }
 
  .make-bill-registerbox select,
  .make-bill-registerbox input[type="text"],
  .make-bill-registerbox input[type="number"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px;
    color: black;
    font-size: 16px;
    padding: 0 2px;
    /* Add your input styles here */
  }
  
  .make-bill-register-button {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* Your register button styles here */
  }
  
  .make-bill-register-button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    /* Your register button hover styles here */
  }
  
  .make-bill-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Your button container styles here */
  }
  
  
  .make-bill-cancel-button{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 18px;
    padding: 0px;
    cursor: pointer;
    color:white;
    width:30%;
  }

  .make-bill-cancel-button {
    margin-left: 10px;
    background-color: #b0b0b0;
  }
  
  .make-bill-cancel-button:hover {
    background-color: #999999;
  }