.committee-all-suggestion-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* Your background image and other body styles here */
  }
  
  .committee-all-suggestion-table {
    border-collapse: collapse;
    width: 110%;
    border: 1px solid #ddd;
    margin: 20px auto;
    margin-left: -40px;
  }
  
  .committee-all-suggestion-table th,
  .committee-all-suggestion-table td {
    border: 1px solid rgba(168, 159, 145, 1);
    padding: 8px;
    text-align: left;
  }
  
  .committee-all-suggestion-table th {
    background-color: burgundy; /* Change to your desired color */
    color: white;
  }
  
  .committee-all-suggestion-table tr:nth-child(even) {
    background-color: rgba(245, 245, 220, 1);
  }
  
  .committee-all-suggestion-table tr:nth-child(odd) {
    background-color: rgba(230, 230, 190, 1);
  }
  
  .icon-committee-all-suggestion-reply-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-committee-all-suggestion-reply-button:hover {
    color: #007bff; /* Change the color as desired */
  }
  
  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: navy;
    text-align: center;
    margin-left: -80px;
    font-size: 27px;
  }
  
  .width-committee-suggestion-name {
    width: 115px;
  }
  
  .width-committee-suggestion-date {
    width: 163px;
  }

  .width-committee-suggestion{
    width: 650px;
  }

  .width-committee-suggestion-action{
    width:106px;
  }
  
  .reply-button {
    /* Add your button styling properties */
    display: inline-flex;
    align-items: center;
    border: 1px solid #007bff; /* Blue border color */
    background-color: green;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
  }
  
  .reply-button:hover {
    background-color: darkgreen; /* Blue background color on hover */
    color: white;
  }
  
  .center {
    text-align: center;
  }
  