/* CommitteeComplaintReply.css */

.suggestion-reply-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f2ee;
    /*background-image: url("../public/images/background4.webp");*/
    /* Your background image and other body styles here */
  }
  
  .suggestion-reply-form-container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    /* Your form container styles here */
  }
  
  .suggestion-reply-registerbox {
    width: 320px;
    height: 350px;
    background: rgba(137, 207, 240, 0.6);
    color: black;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
    /* Your register box styles here */
  }
  
  .suggestion-reply-registerbox:hover {
    background: rgba(161, 202, 241, 0.8);
    /* Your hover styles here */
  }
  
  .suggestion-reply-avatar {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    position: absolute;
    top: -30px;
    left: 122px;
    /* Your avatar styles here */
  }
  
  .h1-margin {
    margin-top:-10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    /* Your h1 styles here */
  }
  
  .suggestion-reply-registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Your paragraph styles here */
  }
  
  .suggestion-reply-registerbox textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 50px;
    color: black;
    font-size: 16px;
    padding: 0 2px;
    margin-top:5px;
    /* Your textarea styles here */
  }
  
  .suggestion-reply-register-button {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* Your register button styles here */
  }
  
  .suggestion-reply-register-button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    /* Your register button hover styles here */
  }
  
  .suggestion-reply-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Your button container styles here */
  }
  
  
  .suggestion-reply-cancel-button{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 18px;
    padding: 0px;
    cursor: pointer;
    color:white;
    width:30%;
  }

  .suggestion-reply-cancel-button {
    margin-left: 10px;
    background-color: #b0b0b0;
  }
  
  .suggestion-reply-cancel-button:hover {
    background-color: #999999;
  }