.committee-view-all-bill-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* Your background image and other body styles here */
  }
  
  .committee-view-all-bill-table {
    border-collapse: collapse;
    width: 123%;
    border: 1px solid #ddd;
    margin: 20px auto;
    margin-left:-105px;
  }
  
  .committee-view-all-bill-table th,
  .committee-view-all-bill-table td {
    border: 1px solid rgba(168, 159, 145, 1);
    padding: 8px;
    text-align: left;
  }
  
  .committee-view-all-bill-table th {
    background-color: burgundy; /* Change to your desired color */
    color: white;
  }
  
  .committee-view-all-bill-table tr:nth-child(even) {
    background-color: rgba(245, 245, 220, 1);
  }
  
  .committee-view-all-bill-table tr:nth-child(odd) {
    background-color: rgba(230, 230, 190, 1);
  }
  
  .icon-committee-view-all-bill-edit-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-committee-view-all-bill-edit-button:hover {
    color: #007bff; /* Change the color as desired */
  }
  
  .icon-committee-view-all-bill-delete-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-committee-view-all-bill-delete-button:hover {
    color: red; /* Change the color as desired */
  }
  
  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: navy;
    text-align: center;
    margin-left: -80px;
    font-size: 27px;
  }
  
  
  .width-committee-all-bill-date{
    width: 100px;
  }
  
  .width-committee-all-bill-area{
    width: 207px;
  }

  .width-committee-all-bill-amount{
    width:118px;
  }

  .width-committee-all-bill-period{
    width:100px;
  }

  .width-maintenance{
    width:110px;
  }