/* SuggestionList.css */
.resident-view-scheduled-event-list-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* Your background image and other body styles here */
  }
  
  .resident-view-scheduled-event-table {
    border-collapse: collapse;
    width: 110%;
    border: 1px solid #ddd;
    margin: 20px auto;
    margin-left:-40px;

  }
  
  .resident-view-scheduled-event-table th,
  .resident-view-scheduled-event-table td {
    border: 1px solid rgba(168, 159, 145, 1);
    padding: 8px;
    text-align: left;
  }
  
  .resident-view-scheduled-event-table th {
    background-color: #333333; /* Change to your desired color */
    color: white;
  }
  
  .resident-view-scheduled-event-table tr:nth-child(even) {
    background-color: rgba(245, 245, 220, 1);
  }
  
  .resident-view-scheduled-event-table tr:nth-child(odd) {
    background-color: rgba(230, 230, 190, 1);
  }
  
  .icon-resident-edit-event-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-resident-edit-event-button:hover {
    color: #007bff; /* Change the color as desired */
  }

  .icon-resident-delete-event-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-resident-delete-event-button:hover {
    color: red; /* Change the color as desired */
  }

  .icon-resident-pay-event-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-resident-pay-event-button:hover {
    color: darkgreen; /* Change the color as desired */
  }
  

  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: navy;
    text-align: center;
    margin-left:-80px;
    font-size: 27px;
  }
  
  .width{
    width:95px;
  }

  .width-event-date{
    width:110px;
  }

  .width-action{
    width:95px;
  }