.resident-schedule-event {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f2ee;
  }


  
  .resident-schedule-event-form-container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    background-color: #f1f2ee;
    padding-bottom: 50px;
    margin-bottom: -23px;
    /* Add your form container styles here */
  }
  
  .resident-schedule-event-registerbox {
    width: 650px;
    height: 490px;
    background: rgba(137, 207, 240, 0.6);
    color: black;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
    /* Add your register box styles here */
  }
  
  .resident-schedule-event-registerbox:hover {
    background: rgba(161, 202, 241, 0.8);
    /* Add your hover styles here */
  }
  
  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    /* Add your h1 styles here */
  }
  
  .resident-schedule-event-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 274px;
  }
  .resident-schedule-event-registerbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Add your paragraph styles here */
  }
  
  .resident-schedule-event-registerbox label {
    font-weight: bold; /* Make the labels bold */
  }
  
  .resident-schedule-event-registerbox select,
  .resident-schedule-event-registerbox input[type="text"],
  .resident-schedule-event-registerbox input[type="date"],
  .resident-schedule-event-registerbox input[type="time"],
  .resident-schedule-event-registerbox input[type="number"],
  .resident-schedule-event-registerbox textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    padding: 0 2px;
    /* Add your input styles here */
  }
  
  .resident-schedule-event-button {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* Add your button styles here */
  }
  
  .resident-schedule-event-button:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
    /* Add your button hover styles here */
  }
  
  .resident-schedule-event-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Add your button container styles here */
  }
  

  .two-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .two-fields > div {
    flex: 1;
    max-width: calc(50% - 15px);
  }

  
  .resident-schedule-event-registerbox input[type="text"][name="organizerName"] {
    width: 30%;
  }
