/* SuggestionList.css */
.suggestion-list-body {
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* Your background image and other body styles here */
  }
  
  .suggestion-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin: 20px auto;
  }
  
  .suggestion-table th,
  .suggestion-table td {
    border: 1px solid rgba(168, 159, 145, 1);
    padding: 8px;
    text-align: left;
  }
  
  .suggestion-table th {
    background-color: #333333; /* Change to your desired color */
    color: white;
  }
  
  .suggestion-table tr:nth-child(even) {
    background-color: rgba(245, 245, 220, 1);
  }
  
  .suggestion-table tr:nth-child(odd) {
    background-color: rgba(230, 230, 190, 1);
  }
  
  .icon-suggestion-edit-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-suggestion-edit-button:hover {
    color: #007bff; /* Change the color as desired */
  }

  .icon-suggestion-delete-button {
    cursor: pointer;
    margin-right: 8px;
  }
  
  .icon-suggestion-delete-button:hover {
    color: red; /* Change the color as desired */
  }
  

  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: navy;
    text-align: center;
    margin-left:-80px;
    font-size: 27px;
  }
  
  .suggestion-name-width{
    width:170px;
  }

  .suggestion-date-width{
    width:100px;
  }

  .resident-suggestion-action-width{
    width:80px;
  }